<div class="row">
  <div class="col-md-9">
    <div class="col-md-6">
      <div class="main-sec">
        <table class="table table-colored-bordered">
          <caption class="header-title">title1</caption>
          <thead>
          <tr>
            <th>th</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>td</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="main-sec">
        <table class="table table-bordered">
          <caption class="header-title">title1</caption>
          <thead>
          <tr>
            <th>th</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>td</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="main-sec">
        <table class="table table-bordered">
          <caption class="header-title">title1</caption>
          <thead>
          <tr>
            <th>th</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>td</td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="col-md-6">
      <div class="main-sec">
        <table class="table table-colored-bordered">
          <caption class="header-title">title1</caption>
          <thead>
          <tr>
            <th>th</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>td</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="main-sec">
        <table class="table table-bordered">
          <caption class="header-title">title1</caption>
          <thead>
          <tr>
            <th>th</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>td</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="main-sec">
      <table class="table table-bordered">
        <caption class="header-title">title1</caption>
        <thead>
        <tr>
          <th>th</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>td</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
